body {
  background: #cbc4ff;
}
main {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.container {
  background: #4d3b88;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70px;
}


@media (min-width: 1024px) {
  h1 {
    margin-top: 40px;
    text-transform: uppercase;
    color: #ffffff;
    background: #4d3b88;
    width: 100%;
    height: 65px;
    opacity: 1;
    border-radius: 14px;
    border-width: 1px;
    display: flex;
    justify-content: center;

    align-content: center;
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
  main {
    max-width: 1755px;
    margin: 0 auto;
  }
  main > div {
  }
}
